@page "/"
@using Festival.DAL.Models;
@using System.ComponentModel.DataAnnotations;

<h1>Home</h1>

<p>Welcome to the Festival App!</p>

<h2>Artists</h2>

<ul>
    @foreach (var artist in Artists)
    {
        <li>@artist.Name</li>
    }
</ul>

<h2>Events</h2>

<ul>
    @foreach (var even in Events)
    {
        <li>@even.EventName - @even.EventDate</li>
    }
</ul>

<h2>Tickets</h2>

<ul>
    @foreach (var ticket in Tickets)
    {
        <li>@ticket.EventId - Price: $@ticket.Price</li>
    }
</ul>

@code {
    private List<Artist> Artists { get; set; } = new List<Artist>();
    private List<Event> Events { get; set; } = new List<Event>();
    private List<Ticket> Tickets { get; set; } = new List<Ticket>();

    protected override async Task OnInitializedAsync()
    {
        
    }
}